/*Home Page*/

#logo {
    width: 75px;
    height: 100%;
}

.images {
    display:flex;
    margin: 50px;
    justify-content: space-between;
    
}
body {
    margin: 0 auto;
}

header {
    display: grid;
    display: flex;
    text-size-adjust: 150px;
    text-decoration: none;
    width: 100%
}

.main {
    padding: 50px;
}

nav {
    background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
a {
    text-decoration: none;
    
}
nav a {
    margin: 0 10px;
    padding: 25px;
    /* line-height: ; */

}

nav a:hover {
    background-color: whitesmoke;
}


#computerpic {
    height: 370px;
    width: 311px;
}

#cybersecurityimage {
    width: 311px;
    height: 370px;
}

/*subpage*/


#tech {
    width: 150%;
    display: flex

}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#subtext {
    padding: 50px;
}

/* Subpage 2 */

#securityimage {
    width: 400px;
    height: 400px;
    padding: 50px;
}

.education {
    display: flex;
    align-items: center;
    padding: 50px;

}

footer {
    background-color: lightgrey;
}